<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EATNET.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6964E3F91EF4893C005B1118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6964E40F1EF4893C005B1118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6964E41A1EF4893C005B1118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
